@inherits LayoutComponentBase

<Blazorise.ThemeProvider Theme="@theme">
    <div class="page">
        <main>
            <article class="content">
                @Body
            </article>
        </main>
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</Blazorise.ThemeProvider>

@code {
    private Theme theme = new()
    {
        ColorOptions = new()
        {
            Primary = "#D4AF37",
            Secondary = "#E8D7B5"
        },
        BackgroundOptions = new()
        {
            Primary = "#0A0A0A",
            Secondary = "#1E1E1E"
        },
        TextColorOptions = new()
        {
            Primary = "#FFFFFF",
            Secondary = "#A0A0A0"
        }
    };
}
